<div class="calendar">
  <div class="header">
    <button (click)="previousMonth()">&#8249;</button>
    <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
    <button (click)="nextMonth()">&#8250;</button>
  </div>
  <div class="weekdays">
    <div class="weekday" *ngFor="let day of weekDays">{{ day }}</div>
  </div>
  <div class="days">
    <div *ngFor="let empty of emptyDays" class="day previous-month">{{ empty }}</div>
    <div *ngFor="let day of daysInMonth" class="day">
      <div>{{ day }}</div>
      <div *ngFor="let task of tasks[getDateString(day)]" class="task" (click)="openTaskPage(task.id)">
        {{ task.name }}
      </div>
    </div>
  </div>
</div>
