.calendar {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.weekday {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  height: 120px; /* Reduced height */
  overflow-y: auto;
}

.previous-month {
  color: #aaa;
}

.empty {
  background-color: transparent;
  border: none;
}

.task {
  background-color: #e0e0e0;
  margin-top: 5px;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.9em;
}
