.chart-container {
  background-color: #fff7e6;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-height: 60vh;
  min-height: 50vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Remove scroll bar */
  transition: 0.5s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

button {
  background-color: #ff8c42;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e67335;
}

.no-tasks-placeholder {
  text-align: center;
  color: #888;
  font-size: 18px;
}

h2 {
  color: #333;
  font-weight: bolder;
  font-size: 2em;
}

::ng-deep .mat-tab-group .mat-ink-bar {
  background-color: #ff8c42; /* Set the underline color to orange */
}


